<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>

<style>
h3, h4 {text-align: center;}
span {font-weight: bold;}
</style>

<script type=text/javascript>
    $(
    // When the LED button is pressed (change)
    // do an ajax request to server to change LED state
    function() 
    {
        $('button').click( function() 
        {
            console.log(event.target.id);
            console.log($("#speed").val())
        $.getJSON('/_command', {action: event.target.id, speed: $("#speed").val()});
        });     
    }
    );



</script>
<!-- Simple JQuery Mobile page that display the button state on the breadoard -->
<!-- You can also change the LED state with the slider switch -->
<!-- The Raspberry Pi uptime is displayed in the footer (Jinja2 expands the template tag) -->

<div data-role="page" data-theme="b">
  <div data-role="header">
    <div><h3>Raspberry Pi Web Control</h3></div>
  </div>
<button type="button" id="forward" >forwards</button>
<button type="button" id="backward">backwards</button>
<button type="button" id="right">right</button>
<button type="button" id="left">left</button>
<button type="button" id="vright">vright</button>
<button type="button" id="vleft">vleft</button>
<button type="button" id="stop">stop</button>
<button type="button" id="vbleft">vbleft</button>
<button type="button" id="vbright">vbright</button>
<input id="speed" type="range" min="20" max="100" step="1" value="50"/>
  <div data-role="content">
    <form>
    <p>The button is <span id="buttonState"></span></p>
    <br>
    </select>
    </form>
  </div>
 <div data-role="footer">
    <div><h4>This Raspberry Pi has been {{uptime}}</h4></div>
  </div>
</div>
